<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/AppTheme" android:label="Kuran Hatim Planner" android:icon="@drawable/hatim_logo" android:roundIcon="@mipmap/ic_launcher">
        <provider android:name=".PdfProvider" android:authorities="ry.dev.kuranhatimplanner.pdfprovider" android:exported="false" android:grantUriPermissions="true" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}"/>
    </application>
</manifest>
